.fbody{
    height: 100vh;
    width: 100vw;
    background-image: url('imagens/background/ForestBg.png');
    background-size: cover;
    background-repeat: no-repeat;
   
}

.AtkBar {
    width: 30vw;
    height: 13.5vh;
    position: relative;
    top: 85vh;
    left: 35vw;
    background-image: url('imagens/whitebar/AtkBar.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    /* O MOTOR DO FLEXBOX */
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    gap: 1vw; /* Substituiu os 15px. Dá 1% da largura da tela de distância */
    
    /* PADDING RESPONSIVO */
    box-sizing: border-box;
    padding: 1.5vh 1.5vw; /* Substituiu os pixels. Mantém o botão dentro do espaço branco */
}

.DescBar{
    width: 13.5vw;
    height: 13.5vh;
    position: relative;
    top: 71.6vh;
    left: 65vw;
    background-image: url('imagens/whitebar/DescBar.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ataque{
    flex: 1; 
    height: 60%; 
    border-radius: 1vh;
    border: 0.2vh solid #000000;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to bottom, #fff,#d4d4d4);
    box-shadow: 0 0.6vh 0 #4e4242;
    background-color: rgba(122, 110, 110, 0.5); 
    transition: background-color 0.2s, transform 0.1s;
}

.ataque:hover {
    filter: brightness(0.9);
}

.ataque:active{
    transform: translate(0.6vh);
    box-shadow: 0 0 0 #000000;
}

.descricao{
    width: 10vw;
    height: 9vh;
    position: relative;
    top: 1.4vh;
    left: 1.3vw;
    font-size: larger;
    font-weight: bold;
}

.jogador{
    width: 8vw;
    height: 30vh;
    position: absolute;
    top: 60%;
    left: 40%;
    animation: anim 2s linear infinite;
    overflow: hidden;
}

.jogador img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}


.rival{
    
    width: 8vw;
    height: 26vh;
    position: absolute;
    top: 53%;
    left: 60%;
    transform: scaleX(-1);
    animation: animRival 2s linear infinite;
     overflow: hidden;
}

.rival img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.log {
    /* 1. MEDIDAS E POSIÇÃO */
    position: absolute;
    height: 45vh; 
    width: 30vw;
    top: 30vh;
    left: 2vw;

    /* 2. O PERGAMINHO DE FUNDO */
    background-color: transparent;
    background-image: url('imagens/PergaminhoLog.png'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    border: none; /* Limpamos as bordas de teste */

    /* 3. A ESTRUTURA TÁTICA (Flexbox) */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #2b2b2b;
    
    /* PADDING: Topo | Direita | Baixo | Esquerda */
    /* Esse espaço garante que nada vai encostar na madeira do desenho */
    padding: 8vh 3vw 6vh 3vw;
}

.conteudoLog{
    flex: 1; 
    overflow-y: auto; 
    
    min-height: 0; 

    padding-left: 1vw; 
    padding-right: 1vw;
}

.conteudoLog::-webkit-scrollbar {
    width: 0.5vw;
}
.conteudoLog::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1vh;
}


@keyframes anim{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1.0);
    }
}

@keyframes animRival{
    0%{
        transform: scale(1.0) scaleX(-1);
    }
    50%{
        transform: scale(1.03) scaleX(-1);
    }
    100%{
        transform: scale(1.0) scaleX(-1);
    }
}

.Titulo{
    color: #ffffff; /* Cor escura pra dar contraste no amarelo */
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2vh; /* Espaço entre o título e os ataques */
    
    /* A ZAGA: Isso aqui proíbe o título de encolher ou sumir */
    flex-shrink: 0;
    position: absolute;
    top: 3vh;
    left: 20vh;
    font-size: 100%;
}

.StatsJogador{
    
    width: 12vw;
    height: 12vh;
    position: absolute;
    top: 30.6vh;
    left: 34.8vw;
    background-image: url('imagens/whitebar/DescBar.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.StatsRival{
    
    width: 12vw;
    height: 12vh;
    position: absolute;
    top: 30.6vh;
    left: 66.5vw;
    background-image: url('imagens/whitebar/DescBar.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.infosJogador{
    height: 8vh;
    width: 10vw;
    position: relative;
    left: 0.8vw;
    top: 0.02vh;
}

.infosRival{
    height: 8vh;
    width: 10vw;
    position: relative;
    left: 0.8vw;
    top: 0.02vh;
}